*{
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
body{
	background: #131313;
}
.window{
	background-color: #343434;
	border: 1px solid #335024;
	border-radius: 9px;
	position: fixed;
	width: 270px;
}
.window:not(.top) > .head{
	background-color: rgba(64, 106, 47, 0.4);
	color: #101010;
}
.window:not(.top){
	background-color: rgba(54, 54, 54, 0.4);
	border: none;
}
.window.hidden{
	position: static;
}
.window.hidden > .body{
	display: none;
}
.head{
	background-color: #499929;
	border-radius: 9px 9px 0 0;
	color: #DED6D6;
	padding: 4px 30px 4px 10px;
	position: relative;
	user-select: none;
}
.window:active{
	box-shadow: 0 0 20px rgba(36, 205, 142, 0.4);
}
.head:hover{cursor: grab;}
.head:active{cursor: grabbing;}
.createBtn{
	background: #D4D4D4;
	border-radius: 45px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	color: #524F4E;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 600;
	height: 45px;
	letter-spacing: 3px;
	line-height: 45px;
	margin: 10px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	user-select: none;
	width: 125px;
}
.body{
	min-height: 260px;
}
.createBtn:hover{
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
}
.close{
	display: flow;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;

}
.hide{
	display: block;
	height: 15px;
	position: absolute;
	right: 60px;
	top: 45%;
	transform: rotate(90deg);
}
.maximize{
	display: inline-block;
	position: absolute;
	top: 45%;
	height: 15px;
	right: 40px;
	transform: rotate(90deg);
}
.close::before, .close::after{
	background-color: #FFF;
	border-radius: 20px;
	content: '';
	height: 100%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) rotate(-45deg);
	transition: background-color 300ms;
	width: 2px;
}
.hide::before, .hide::after, .maximize::before, .maximize::after{
	background-color: #FFF;
	content: '';
	height: 100%;
	left: 50%;
	position: absolute;
	transition: background-color 300ms;
	width: 2px;
}
.close::after{ transform: translateX(-50%) rotateZ(45deg);}
.close:hover, .hide:hover, .maximize:hover{cursor: pointer;}
.close:hover::before, .close:hover::after, .hide:hover::before, .hide:hover::after, .maximize:hover::after, .maximize:hover::before{background-color: red;}
.hidden-container{
	bottom: 2px;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	left: 2px;
	position: fixed;
}
.hidden-container > .window{
	border-radius: 12px;
	box-shadow: none;
	margin: 1px;
}
.hidden-container > .window > .head{
	background-color: rgba(130, 53, 161, 0.6);
	border-radius: 12px;
	color: #DED6D6;
}